{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}

 <form class="form-signin" action="" name="passwordReset" method="post" novalidate>
         <span class="icon-center" style="margin: 0px 0px 0px 25px"> <i class="fa fa-5x fa-user-circle"></i></span>
       <h1 class="h3 mb-3 font-weight-normal" style="margin: 0px 0px 0px 50px">Reset Password</h1>
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            <small id="userHelp" class="form-text text-muted">Enter your Password </small>
{% for error in form.password.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
</div>
            {% endfor %}
        </div>
        <div class="input-group">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            <small id="passHelp" class="form-text text-muted">Type the Password as above</small>
{% for error in form.password2.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
</div>
            {% endfor %}
            {% for error in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
        </div>
<br />
     <button class="btn btn-lg btn-success btn-block" type="submit" style="width: 280px;"> Reset Password <i class="fa fa-lock"></i></button>
      <span class="mt-5 mb-3 text-muted" style="margin: 0px 0px 0px 80px">&copy;{{ copy }}</span>

     </form>

{% endblock %}
