{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
{% with flash_msg = get_flashed_messages(with_categories=true) %}
{% if flash_msg %}
{% for category, msg in  flash_msg %}
              <div class="alert {% if category == 'alert-warning' %} alert-warning {% else %} {{ 'alert-info' if category == 'warning' or 'message' else category }} {% endif %} alert-dismissible fade show" role="alert">
  <strong>{% if category == "alert-danger" %} Alert!
    {% elif category == "alert-success" %} Success!
    {% elif category == "alert-warning" %} Warning!
    {% else %} Info!
    {% endif %}</strong> {{ msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
{% endif %}
 {% endwith %}

{% include 'users/resend.html' %}
<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="2" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div> <b><u>Why am I seeing this Page?</u></b> <br />
          <ul style="list-style-type: square">
              <li> With a recent update to the app, we require all users (new or old) to verify their  email address.</li>
          <li> In order to ensure that we're registering valid users we require that you verify your email address and we'll only ask once.</li>

      </ul>
          </div>
           <div> <b><u>I clicked on the verification link but it didn't work?</u></b> <br />
          <ul style="list-style-type: square">
              <li> If you have not clicked on the link within 1 hour it expires, so you will need to resend yourself a new verification link.</li>
          <li> You will need to be logged in and click on the verification link in order for your account to be verified.</li>

      </ul>
          </div>
          <div> <b><u>Can I access my account without verifying it?</u></b> <br />
          <ul style="list-style-type: square">
              <li> No, all accounts created must be verified.</li>

      </ul>
          </div>
          <div> <b><u>I want to delete my account rather than verify it?</u></b> <br />
          <ul style="list-style-type: square">
              <li> Simply verify your account then you can proceed to completely delete your account.</li>

      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
