alembic==1.5.8
chardet==4.0.0
Click==7.1.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
Jinja2==2.11.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
SQLAlchemy==1.4.13
urllib3==1.26.4
WTForms==2.3.3
PyJWT==1.7.1
virtualenv==20.4.4
Flask-Moment==0.11.0
psycopg2-binary
gunicorn
Python-dotenv
requests
pymysql
email_validator
Werkzeug==1.0.1
redis==3.5.3
rq==1.8.0
jiraone==0.3.3
