{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<!-- no comment -->
{% else %}
{% for message in get_flashed_messages() %}
{% if error %}
     <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif success %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ success }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}
{% include 'users/job_progress.html' %}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link active"  href="{{ url_for('add_customer')}}"><i class="fa fa-user-plus"></i>&nbsp;ADD CUSTOMERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('remove_customer')}}"><i class="fa fa-user-times"></i>&nbsp;REMOVE CUSTOMERS</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container fade" id="delete">

<br />


        </div>

    <div class="tab-pane container show active" id="create">
<br />

  <form action="" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
<div class="form-group mx-sm-3 mb-2">
<div class="form-group">
    <label for="docs">File Upload</label>
    <input type="file" class="form-control-file" id="docs" name="docs" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel">
  </div>
</div>
<div class="form-group mx-sm-3 mb-2">
       {% for error in form.docs.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
       </div>
    <div class="form-group mx-sm-3 mb-2">
  <div class="input-group-prepend">
      <i class="fa fa-exchange" aria-hidden="true"></i>
    <label for="upload_opt" class="sr-only">Options</label>
  </div>
  <select class="custom-select" id="upload_opt" name="upload_opt">
      <option selected value="JSM_ORG">Customer selection to add customers to organizations or projects</option>
    <option value="JSM_ORG">JSM Organization</option>
    <option value="JSM_PROJ">JSM Project</option>
  </select>
           <small id="userHelp" class="form-text text-muted">Customer selection is set to "JSM Organization" by default, if no option is chosen!</small>

        <div class="form-group">
   <div class="input-group-prepend">
      <i class="fa fa-exchange" aria-hidden="true"></i>
    <label for="delimiter" class="sr-only">Options</label>
  </div>
  <select class="custom-select" id="delimiter" name="delimiter">
      <option selected value=",">Choose the delimiter of the file </option>
    <option value=",">&lt;comma&gt; </option>
    <option value="\t">&lt;tab&gt; </option>
      <option value=":">&lt;colon&gt; </option>
      <option value=";">&lt;semi-colon&gt; </option>
      <option value=" ">&lt;space&gt; </option>
  </select>
  </div>
                 <small id="delimeter" class="form-text text-muted">Choose the options for the delimiter, by default the option is set to ",". Each value correspond to the actual character</small>
        <br />
        <button type="submit" id="bulkprogress" class="btn btn-success"> Add Customers in Bulk </button>
</div>



</form>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="4" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><b><u>How can I add customers in bulk?</u></b> <br />
          <ul style="list-style-type: square">
          <li> This is done using a csv file, which needs to be uploaded</li>
          <li> you will need to prepare the format, so it includes the required fields</li>
              <li> Please your csv file should be in the format: "accountId | name | organization" </li>
           </ul>
           <table class="table table-sm table-responsive table-bordered">
  <thead>
    <tr>
      <th scope="col">accountId</th>
      <th scope="col">name</th>
         <th scope="col">organization</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>qm:52becXXXXX</td>
      <td>Prince Nyeche</td>
      <td>Jenkins</td>
    </tr>
  </tbody>
</table>
          </div>
        <div><b><u>How to bulk add customers to multiple organizations or projects?</u></b> <br />
          <ul style="list-style-type: square">
         <li> Using a csv file, please format the CSV file into the below format.</li>
              <li> Your csv file should be in the format: "accountId | name |orgname or project key" </li>
               <li> Use this symbol <code>~></code> as delimiter between each org name or project key.</li>
      </ul>
              <table class="table table-sm table-responsive table-bordered">
  <thead>
    <tr>
      <th scope="col">accountId</th>
      <th scope="col">name</th>
        <th scope="col">organization</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>5ccfXXXXXX</td>
      <td>Prince Nyeche</td>
        <td>Cosmos~>Azure~>BlueGap~>Mandalore</td>
    </tr>
  </tbody>
</table>
          </div>
         <div><b><u>How can I know when to add customers to organization or project?</u></b> <br />
          <ul style="list-style-type: square">
          <li> The customer selection options provides the ability to switch between adding customers to organizations or to projects. Please select one prior to submitting the request.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
