{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<!-- no comment -->
{% else %}
  {% for message in get_flashed_messages() %}
{% if success %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ success }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
       {% endfor %}
 {% include 'users/job_progress.html' %}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('create_org') }}"><i class="fa fa-sitemap"></i>&nbsp;CREATE ORGANIZATIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{{ url_for('delete_org') }}"><i class="fa fa-sitemap"></i>&nbsp;DELETE ORGANIZATIONS</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">


            <div class="tab-pane container show active" id="delete_org">
    <br />

       <form class="form-group" action=""  method="post">
           {{ form.hidden_tag() }}
        <div class="form-group mx-sm-3 mb-2">
            <i class="fa fa-users" aria-hidden="true"></i>
      <label class="sr-only" for="org_field">Delete Organizations</label>
            <textarea class="form-control" id="org_field" name="org_field" placeholder="Delete an organization. For multiple organizations deletion, separate by comma" style="height: 100px;"></textarea>
    <small id="cloudHelp" class="form-text text-muted">Format for multiple organization deletion e.g. Cosmos,BigQuery,Azure. Please note the names are case sensitive.</small>
        </div>

           <div class="form-group mx-sm-3 mb-2">
           {% for error in form.org_field.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
           </div>

<div class="form-group mx-sm-3 mb-2">
    <button type="submit" id="bulkprogress" class="btn btn-danger"> Delete Organization </button>

</div>

 </form>



    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="2" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div> <b><u>How can I delete a JSM organization?</u></b> <br />
          <ul style="list-style-type: square">
          <li> You can do so by typing the organization name and clicking the delete organization button</li>
          <li> You must know the name of the organization by its exact string for the organization to be successfully removed as it is case sensitive. i.e. Azure and AZURE are two different organization in this context.</li>
      </ul>
          </div>
         <div> <b><u>What happens if a user is in an organization when I delete it?</u></b> <br />
          <ul style="list-style-type: square">
          <li> The users will be removed from the organization completely.</li>
      </ul>
          </div>
         <div> <b><u>Can I delete multiple organizations?</u></b> <br />
          <ul style="list-style-type: square">
          <li> Yes, you can, to do so type the name of the organization separated by a comma e.g. Drivers,GameCollector.</li>
          <li> If the organization name doesn't exist, no deletion will occur and an error will not be recorded. Please know the exact name of the organization prior to deletion.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
