{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<!-- no comment -->
{% else %}
 {% for message in get_flashed_messages() %}
{% if success %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ success }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
       {% endfor %}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('projects')}}"><i class="fa fa-trash"></i>&nbsp;DELETE PROJECTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('delete_issue')}}"><i class="fa fa-eraser"></i>&nbsp;DELETE JIRA ISSUES</a>
    </li>
       <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('project_lead')}}"><i class="fa fa-user"></i>&nbsp;CHANGE PROJECT LEADS</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

       <div class="tab-pane container show active" id="leads">
 <br />
          <form action="" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
<div class="form-group mx-sm-3 mb-2">
<div class="form-group">
    <label for="docs">File Upload</label>
    <input type="file" class="form-control-file" id="docs" name="docs">
  </div>
    <small id="addHelp" class="form-text text-muted">To see the Format of the file, please click the "Need Help?" link above!</small>
</div>
<div class="form-group mx-sm-3 mb-2">
       {% for error in form.docs.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
       </div>

              <div class="form-group">
   <div class="input-group-prepend">
      <i class="fa fa-exchange" aria-hidden="true"></i>
    <label for="delimiter" class="sr-only">Options</label>
  </div>
  <select class="custom-select" id="delimiter" name="delimiter">
      <option selected value=",">Choose the delimiter of the file </option>
    <option value=",">&lt;comma&gt; </option>
    <option value="\t">&lt;tab&gt; </option>
      <option value=":">&lt;colon&gt; </option>
      <option value=";">&lt;semi-colon&gt; </option>
      <option value=" ">&lt;space&gt; </option>
  </select>
  </div>
                 <small id="delimeter" class="form-text text-muted">Choose the options for the delimiter, by default the option is set to ",". Each value correspond to the actual character</small>


<br />
             <div class="form-group mx-sm-3 mb-2">
        <button type="submit" class="btn btn-success"> Bulk Change Project Lead </button>
</div>



</form>

        </div>



  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="-1" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><b><u>How can I Bulk update Project lead?</u></b> <br />
          <ul type="list">
          <li> This is done using a csv file, which needs to be uploaded</li>
          <li> you will need to prepare the format, so it includes the required fields</li>
              <li> Accepted values for AssigneeType e.g. "PROJECT_LEAD" or "UNASSIGNED" and it has to be in capital form on the csv file.</li>
              <li> Please your csv file should be in the format - "accountId | key | assigneeType" </li>
           </ul>
           <table class="table table-sm table-responsive table-bordered">
  <thead>
    <tr>
      <th scope="col">accountId</th>
      <th scope="col">key</th>
      <th scope="col">assigneeType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5233711atgxsay72812bc</td>
      <td>ABC-123</td>
      <td>PROJECT_LEAD</td>
    </tr>
  </tbody>
</table>
          </div>
         <div><b><u>Where can I get an accountId?</u></b> <br />
          <ul type="list">
          <li> You can get one from the Admin hub page or use a JQL search of assignee or reporters in order to return an accountId.</li>
      </ul>
          </div>
         <div><b><u>Must I add the AssigneeType?</u></b> <br />
          <ul type="list">
          <li> Yes; since a format style being used, by uploading it is essential those values for AssigneeType be provided.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}