<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BulkOps app for Jira sign up email content">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Thank you for Signing up!</title>
    <style>
.menu-change {
background:#333FFF;
position: relative;
top: 0px;
width: 100%;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
padding: 5px;
}

.menu-header-color {
  color: #FFFFFF;
}
.menu-header-color:hover{
  color: #0B0B0B;
  font-weight: bold;
}
</style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-collapse navbar-expand-sm menu-change shadow p-3 mb-5 bg-primary rounded"> <!-- menu -->
 <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand menu-header-color logo_text" href="{{url_for('index', _external=True) }}">
         <span class="fa-stack fa-lg">
  <i class="fa fa-cog fa-spin fa-3x fa-fw fa-stack-2x"></i>
  <i class="fa fa-microchip fa-stack-1x text-primary"></i>
</span>BULKOPS</a>
   </div>
        <!-- Toggler/collapsibe Button -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="fa fa-bars menu-header-color"></span>
 </button>


 </div></nav>
</div>
<div class="container">
<div class="card" style="margin: 5px; padding: 10px">
  <h5 class="card-header">An Exciting Experience Awaits!</h5>
  <p class="card-body">
    <h5 class="card-title">Hi {{user.username.capitalize()}},</h5>
    <p class="card-text"> Glad to have you sign up with us, a few things to let you know about the features you're about to use.
        With BulkOps app, you can be able to do the below:</p>
      <hr class="my-4">
        <ul style="list-style-type:square">
      <li>Bulk create Jira users or Jira Service Management users</li>
      <li>Bulk delete users</li>
      <li>Bulk add users to groups</li>
      <li>Bulk remove users from groups</li>
      <li>Bulk delete projects</li>
  </ul>
    <p>And many more...</p>

      <p>If you require a walkthrough or a guide on how to use the application, at any point within the app - you can click on
      the help button to know what to do. Try it out by using the button below.
      </p>
    <a href="{{ url_for('signin', _external=True) }}" class="btn btn-primary" style="width: 70px">Sign in</a>

<p>Cheers,</p>
<p>BulkOps App Team</p>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<div align="center">
       <small class="text-muted"><i class="fa fa-copyright" aria-hidden="true"></i> <a href="https://elfapp.website" target="_blank">ELFAPP</a></small>
      <small class="text-muted"><i class="fa fa-book" aria-hidden="true"></i> <a href="https://github.com/princenyeche/BOP/blob/master/tutorial.md" target="_blank"> Documentation</a></small>
    <small class="text-muted"><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/princenyeche/BOP" target="_blank">About </a></small>
    </div>
</body>
</html>
