{% with jobs = current_user.get_jobs_in_progress() %}
  {% if jobs %}
      {% for job in jobs %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
     <strong>Info!</strong> {{ job.description }}
     <span id="{{ job.id }}-progress">{{ job.get_progress() }}</span>%
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true" >&times;</span>
     </button>
   </div>
<div id="progressing" class="d-none">
          <label id="progress_status"></label>
          <div class="progress mb-3">
  <div class="progress-bar bg-success" id="{{ job.id }}-progress" role="progressbar" style="width: {{ job.get_progress() }}%;" aria-valuenow="{{ job.get_progress() }}" aria-valuemin="0" aria-valuemax="100">{{ job.get_progress() }}%</div>
</div>

</div>

      {% endfor %}
  {% endif %}
  {% endwith %}
