{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{title}} {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<!-- no comment -->
{% else %}
{% for message in get_flashed_messages() %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endfor %}


{% endif %}
<div class="card-deck shadow-lg p-3 mb-5 bg-white rounded position-static">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <i class="fa fa-5x fa-user text-primary" aria-hidden="true"></i>
      <h5 class="card-title">Users</h5>
      <p class="card-text">User Management feature to control users in bulk</p>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">Delete Users</li>
    <li class="list-group-item">Create Users</li>
  </ul><br />
       {% if current_user.is_anonymous %}
         <a href="{{ url_for('signin') }}" class="btn btn-primary">Get Started</a>

      {% else %}
       <a href="{{ url_for('users') }}" class="btn btn-primary">Start App</a>
      {% endif %}
    </div>
  </div>
     <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <i class="fa fa-5x fa-users text-primary" aria-hidden="true"></i>
      <h5 class="card-title">Groups</h5>
      <p class="card-text"> User Management feature to control users and groups in bulk</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Add users to group</li>
    <li class="list-group-item">Remove Users from Group</li>
     <li class="list-group-item">Create or Delete Groups</li>
  </ul><br />
     {% if current_user.is_anonymous %}
        <a href="{{ url_for('signin') }}" class="btn btn-primary">Get Started</a>
      {% else %}
         <a href="{{ url_for('add_groups') }}" class="btn btn-primary">Start App</a>

      {% endif %}
    </div>
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <i class="fa fa-5x fa-folder text-primary" aria-hidden="true"></i>
      <h5 class="card-title">Projects</h5>
      <p class="card-text">Jira project feature in bulk.</p>
      <ul class="list-group list-group-flush">
    <li class="list-group-item">Delete projects</li>
    <li class="list-group-item">Delete issues</li>
    <li class="list-group-item">Change project lead</li>
  </ul> <br />
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('signin') }}" class="btn btn-primary">Get Started</a>

      {% else %}
      <a href="{{ url_for('projects') }}" class="btn btn-primary">Start App</a>
      {% endif %}
    </div>
  </div>
</div>


<!-- Modal home -->
<div class="modal fade" id="modQuestion" tabindex="-1" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div> <b><u>What can I do with this app?</u></b> <br />
          <ul type="list">
          <li> You can create users, either single user or multiple users</li>
          <li> You can create not just Jira users, but also Jira Service Management users.</li>
          <li> You can also delete users, single or multiple users.</li>
          <li> You can create users groups, singles or multiple groups.</li>
          <li> You can add or remove users from group and in bulk.</li>
          <li> You can delete a project or delete in bulk.</li>
          <li> You can delete issues in bulk</li>
          <li> You can change project lead also in bulk.</li>
      </ul>
          </div>
           <div> <b><u>Where do I get a token from?</u></b> <br />
          <ul type="list">
          <li> You can generate a token by visiting <a href="https://id.atlassian.com/manage/api-tokens" target="_blank">https://id.atlassian.com/manage/api-tokens</a></li>
      </ul>
          </div>
           <div> <b><u>How do all these work?</u></b> <br />
          <ul type="list">
          <li> By using your API token, the app is able to access Atlassian API's</li>
          <li> You make an action and we send a request to Atlassian's API and capture the response.</li>
      </ul>
          </div>
           <div> <b><u>Is this app secure?</u></b> <br />
          <ul type="list">
          <li> This app uses basic authentication, which is secure enough to access your Atlassian instance.</li>
          <li> We have also taken the steps to ensure that we encode certain Information that we send.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function jira_token() {
window.location.href="{{ url_for('index') }}"
}
</script>
{% endblock %}
