{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<!-- no comment -->
{% else %}
  {% for message in get_flashed_messages() %}
{% if success %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ success }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
       {% endfor %}
 {% include 'pages/processing.html' %}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active"  href="{{ url_for('add_groups') }}"><i class="fa fa-user-plus"></i>&nbsp;ADD USERS TO GROUP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('remove_groups') }}"><i class="fa fa-user-times"></i>&nbsp;REMOVE USERS FROM GROUP</a>
    </li>
       <li class="nav-item">
      <a class="nav-link " href="{{ url_for('create_groups') }}"><i class="fa fa-users"></i>&nbsp;CREATE GROUPS</a>
    </li>
       <li class="nav-item">
      <a class="nav-link " href="{{ url_for('delete_groups') }}"><i class="fa fa-users"></i>&nbsp;DELETE GROUPS</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container show active" id="add">
        <br />
         <form class="form-group" action=""  method="post">
        {{ form.hidden_tag() }}
         <div class="form-group mx-sm-3 mb-2">
      <i class="fa fa-users" aria-hidden="true"></i>
    <label for="group_name" class="sr-only">Group Name</label>
    <input type="text" class="form-control" id="group_name" name="group_name" placeholder="Enter the Group name"  value="">
    </div>
<div class="form-group mx-sm-3 mb-2">
             {% for error in form.group_name.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
</div>

       <div class="form-group mx-sm-3 mb-2">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
    <label for="aaid" class="sr-only">AccountId</label>
    <input type="text" class="form-control" id="aaid" name="aaid" placeholder="Enter your Atlassian AccountId" value="">
            <small id="cloudHelp" class="form-text text-muted">Format of accountId is in alphanumeric e.g 5e0a04330242870e996e6221</small>
    </div>
 <div class="form-group mx-sm-3 mb-2">
             {% for error in form.aaid.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

            {% endfor %}
 </div>

<div class="form-group mx-sm-3 mb-2">
    <button type="submit" id="bulkprogress" class="btn btn-success"> Add User to Group </button>
     &nbsp;
    <a class="btn btn-success" href="{{ url_for('bulk_add') }}"> Bulk Add Users to Group </a>
</div>

 </form>


        </div>


  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="-1" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div> <b><u>Adding user to group?</u></b> <br />
          <ul style="list-style-type: square">
          <li> You can only add Jira User to a group</li>
          <li> If you want to add a user, you will need to provide the group name and accountId</li>
      </ul>
          </div>
         <div> <b><u>Can I use any name as group name?</u></b> <br />
          <ul style="list-style-type: square">
          <li> Yes you can, as long as the group name exist.</li>
      </ul>
          </div>
         <div> <b><u>Any example of how the group name should look like?</u></b> <br />
          <ul style="list-style-type: square">
          <li> An example of a group name could be e.g. Android.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
