{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %} {{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- no comment -->
 {% for message in get_flashed_messages() %}
{% if error %}
     <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ success }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
       {% endfor %}

<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('users')}}"><i class="fa fa-user-plus"></i>&nbsp;CREATE USERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{{ url_for('delete_users')}}"><i class="fa fa-user-times"></i>&nbsp;DELETE USERS</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container show active" id="delete">
<br />
         <form class="form-group" action=""  method="post">
        {{ form.hidden_tag() }}
          <div class="form-group mx-sm-3 mb-2">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
    <label for="aaid" class="sr-only">AccountId</label>
    <input type="text" class="form-control" id="aaid" name="aaid" placeholder="Enter your Atlassian AccountId">
  <small id="cloudHelp" class="form-text text-muted">Format of AccountId is in alphanumeric e.g 5e0a04330242870e996e6221</small>
    </div>

           <div class="form-group mx-sm-3 mb-2">
           {% for error in form.aaid.errors %}
             <div class="alert alert-danger" role="alert">
  {{ error }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endfor %}
           </div>


<div class="form-group mx-sm-3 mb-2">
    <button type="submit" class="btn btn-danger"> Delete User </button> &nbsp;
      <a class="btn btn-danger" href="{{ url_for('bulk_delete')}}"> Bulk Delete </a>
</div>


</form>


    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modQuestion" tabindex="-1" role="dialog" aria-labelledby="modQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="faqs">F.A.Q</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div> <b><u>How can I delete a user?</u></b> <br />
          <ul type="list">
          <li> You can start by entering the accountId of that user</li>
          <li> An AccountId is an alphanumber string of characters used to identify Atlassian users e.g. 53372281ag172HSnziiJS27</li>
      </ul>
        </div>
         <div> <b><u>Can I delete my own user?</u></b> <br />
          <ul type="list">
          <li> No you cannot delete your own user, it will return an error.</li>
      </ul>
          </div>
         <div> <b><u>Where can I find these AccountId?</u></b> <br />
          <ul type="list">
          <li> If you're a site admin, you can login to your Admin hub, export users to get the accountId.</li>
          <li> Subsequently, you can use a JQL search to retrieve accountId by searching assignees or reporters</li>
          <li> Furthermore, you can go to the People link of your Instance and search for users there and copy the accountId from the Browser's Address bar.</li>
      </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}